@import "tailwindcss";

/* Theme Variables and Animations */
@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
}

/* Base Layer */
@layer base {
  :root {
    --background: rgb(15, 23, 42);
    --foreground: rgb(148, 163, 184);
    --card: 0 0% 100%;
    --primary: 250 47% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 250 47% 60%;
    --secondary-foreground: 222 47% 11%;
    --border: 214 32% 91%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition:
      color 0.3s,
      background-color 0.3s;
    font-family: "Montserrat", sans-serif;
  }
}

/* Utility Classes */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
